body{
    font-family:"Tektur",sans-serif;
    margin:0;
    padding:0;
    font-size:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* width: 400 px; */
    height: 100vh;

}
h2{
    text-decoration:underline;
    text-align:center;
    margin:0;
    margin-bottom:10px;

}
h2:hover{
    color:blue
}
.main_container{
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px
}
p{
    font-size:xx-small;
    text-align:center;
}
form{
    display:flex;
    flex-direction:column;
    width:300px;
    padding: 12px;
    
}
input{
    margin:10px 0px;
    border-radius:5px;
}
#Calculate-button{
    height:px;
    background-color:rgb(34, 172, 34);
    color:#fff;
    font-weight:bold;
    font-size:medium;
    padding:06px;
    display: flex;
    align-items: center;
    justify-content: center;
}
